<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <script language="javascript" type="text/javascript" src="js/jquery-3.6.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script language="javascript" type="text/javascript" src="js/fontawesome.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<style>
    .b-box-type{
        font-weight: 800;
        height: 240px;
    }
    
    .template-type:hover{
        background: #EBECF1;
    }

    .b-box-type:hover{
        background: #EBECF1;
    }
    

    .highlight-text{
        color: #5174EE;
    }
</style>
<!--

-->

<body>
    <%- include('./header') %>
    <div class="container my-4">
        <div class="row" id="gallerylist">
            <div class="col">
                <h4>Create Template</h4>
                <div class="mb-4" style="color: #666666;">Add a gallery to Label Viewer</div>

                <div class="row row-cols-3 mb-4" id="gallerylist">
                    <div class="col">
                        <div class="card w-100 template-type" style="width: 18rem;" id="type-api">
                            <div class="card-body ">
                                <div class="d-flex justify-content-between mb-4">
                                    <i class="fa-regular fa-square" style="font-size: 40px;"></i>
                                    <h5>Bounding Box</h5>
                                </div>
                                <div style="color: #666666;">Enter the information for drawing the bounding box.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 template-type" style="width: 18rem;" id="type-objectstorage">
                            <div class="card-body ">
                                <div class="d-flex justify-content-between mb-4">
                                    <i class="fa-solid fa-draw-polygon" style="font-size: 40px;"></i>
                                    <h5>Key Point</h5>
                                </div>
                                <div style="color: #666666;">Draw and match keypoints with Json information.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 template-type" style="width: 18rem;" id="type-googledrive">
                            <div class="card-body ">
                                <div class="d-flex justify-content-between mb-4">
                                    <i class="fa-solid fa-draw-polygon" style="font-size: 40px; color: #666666;"></i>
                                    <h5>Polygon (Coming soon)</h5>
                                </div>
                                <div style="color: #666666;">Add storage registered to an existing data injector.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5>Template Name</h5>
                <div class="d-flex align-items-center column-gap-2">
                    <div class="input-group mb-4" style="max-width: 400px;">
                        <input type="text" class="form-control" placeholder="template name" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-4 "  >
                        <input type="color" name="mycolor" value="#FF4444" style="width: 2em; height: 2em; border: none;"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Color Picker">
                    </div>
                </div>

                <h5>Bounding Box Type</h5>
                <div class="row row-cols-4 mb-4" id="gallerylist">
                    <div class="col">
                        <div class="card w-100 b-box-type" id="type-1">
                            <div class="card-body d-flex flex-column ">
                                <img class="align-self-center"  src="img/type1.png" >
                                <div class="mt-auto align-self-center">(x,y),w,h</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 b-box-type" id="type-2">
                            <div class="card-body d-flex flex-column ">
                                <img class="align-self-center"  src="img/type2.png">
                                <div class="mt-auto align-self-center">(x1,y1),(x2,y2)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 b-box-type" id="type-3">
                            <div class="card-body d-flex flex-column">
                                    <img class="align-self-center" src="img/type3.png">
                                    <div class="mt-auto align-self-center">(x,y),w,h</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 b-box-type" id="type-etc">
                            <div class="card-body d-flex justify-content-center  align-content-center">
                                    <div class="card-text align-self-center">ETC</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="color: #666666;">Please enter the information of the label JSON in the selected bounding box type.</div>
                <div class="mb-4" style="color: #666666;">* JSON substructure <span class="highlight-text">>></span>, Array <span class="highlight-text">[]</span></div>

                <div class="row">
                    <div class="col">
                        <div class="">X1</div>
                        <div class="input-group mb-2">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="">Y1</div>
                        <div class="input-group mb-2">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="">X2</div>
                        <div class="input-group mb-2" >
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="">Y2</div>
                        <div class="input-group mb-2" >
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="color: #666666;">Isn't the structure of the dataset you're trying to use here?</div>
                <button type="button" class="btn btn-success mb-4">Contact Us</button>

                <div class="col d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-outline-primary" onclick="pageMove('selecttemplate')">Back</button>
                    <button type="button" class="btn btn-lg btn-primary" onclick="pageMove('selecttemplate')">Next</button>
                </div>

            </div>
        </div>

    </div>
</body>
<script>
    function pageMove(page){
        var params;
        var url = "http://127.0.0.1:7000/";
        switch (page){
            case "selecttemplate" :
                params = "selecttemplate"
                break;
        }
        window.location.href = url + params;

    }
</script>
</html>