<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <script language="javascript" type="text/javascript" src="js/jquery-3.6.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script language="javascript" type="text/javascript" src="js/fontawesome.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script language="javascript" type="text/javascript" src="js/globalconst.js"></script>
</head>
<style>
    .card {
        height: 300px;
        cursor: pointer;
    }

    .dataset:hover {
        background-color: #f4f4f4;
    }
</style>
<!--

-->

<body>
    <%- include('./header') %>
        <div class="container my-4">
            <div class="row row-cols-4 g-4" id="gallerylist">
                <div class="col" id="add-dataset">
                    <div class="card w-100 dataset" style="border: 2px dashed #D9D9D9;">
                        <div class="card-body d-flex justify-content-center align-items-center"
                            onclick="pageMove('addfiles');">
                            <p class="card-text">+ Add Dataset</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="delete-popup" tabindex="-1">

            </div>
        </div>
</body>
<script>


    function pageMove(page, datasetID, sourceID) {
        localStorage.setItem('di_storageid', sourceID);
        localStorage.setItem('datasetid', datasetID);

        var params;
        var url = _PAGE_URL;
        switch (page) {
            case "addfiles":
                params = "addFiles";
                break;
            case "imagegallery":
                params = "imagegallery";
                break;
            case "edit":
                params = "addFiles";
                break;
            default:
                params = "imagegallery";
                break;
        }
        window.location.href = url + params;

    }


    var dataset = [{
        "datasetID": 0,
        "name": "축구1",
        "updateDate": "2023-04-17"
    },
    {
        "datasetID": 1,
        "name": "축구2",
        "updateDate": "2023-04-21"
    }
    ]

    $(document).ready(function () {
        loadInfo();
    });

    /* 
        데이터셋을 불러온다.
        Ajax get
    */

    var keyptTempNameList = new Array;

    function loadInfo() {

        $.ajax({
            type: 'get',
            url: _PAGE_URL + 'apidataset/keyp',
            //data: datasetInfo,
            //보내는 데이터,
            dataType: 'JSON', //문자형식으로 받기 , 
            success: function (result) {
                if (result.length) {
                    for (i = 0; i < result.length; i++) {
                        var kyptnamelist = { kypt_id: result[i]._id, kypt_name: result[i].kypt_name, kypt_color: result[i].kypt_json.categories[0].color };
                        keyptTempNameList.push(kyptnamelist);
                    }
                }
                $.ajax({
                    type: 'get', //데이터 전송 타입,
                    url: _PAGE_URL + 'apidataset', //데이터를 주고받을 파일 주소 입력,
                    //data: datasetInfo,
                    //보내는 데이터,
                    dataType: 'JSON', //문자형식으로 받기 , 
                    success: function (result) {

                        drawCard(result);
                    },
                    error: function () {
                        alert("error");
                    }
                });

            },
            error: function () {
                //console.log(error);
            }
        });



    }

    /* 
        데이터셋을 불러온다.
        Ajax delete
    */
    function deleteDataset(datasetID) {
        $.ajax({
            type: 'get', //데이터 전송 타입,
            url: _PAGE_URL + 'apidataset/deldataset?datasetId=' + datasetID, //데이터를 주고받을 파일 주소 입력,
            //data: datasetInfo,
            //보내는 데이터,
            dataType: 'JSON', //문자형식으로 받기 , 
            success: function (result) {
                window.location.reload();
            },
            error: function () {
                alert("error");
            }
        });
    }

    /*
    데이터셋 정보를 담은 카드를 그린다.

    각 카드의 ID
    datasetID-{type}
    */
    function drawCard(dataset) {

        var cardContainer = document.getElementById("gallerylist");
        var cardText = ``;
        var imagesource = " ";
        for (var i = 0; i < dataset.length; i++) {
            var kypttemps = ``
            if (dataset[i].kypt_id[0] != null) {
                for (j = 0; j < dataset[i].kypt_id.length; j++) {
                    const foundTemplate = keyptTempNameList.find(obj => obj.kypt_id === dataset[i].kypt_id[j]);
                    bgcolor = colorWithTransparency(foundTemplate.kypt_color, 0.4)
                    kypttemps += `<span class="badge" style="margin-right: 5px;color:black; background-color:${bgcolor};">
                        ${foundTemplate.kypt_name}</span>`
                }
            }

            //Format UTC Time to Asia/Seoul Timezone
            const date = new Date(dataset[i].dataset_createDate);
            const timezone = 'Asia/Seoul'; // Replace with your desired timezone
            const formattedDate = date.toLocaleString('ko-KR', { timeZone: timezone, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(',', 'T');

            imagesource = getImagesrc(dataset[i].source_list_sto, dataset[i].dataset_import_type, dataset[i].image_location);

            cardText += `
                <div class="col" id="${dataset[i]._id}-card">
                    <div class=" card w-100 dataset" >
                        <div class="" style="position: absolute; margin: 1em; right: 0;">
                            <div class="btn btn-light btn-group dropend" data-bs-toggle="dropdown" aria-expanded="false"
                                style="float: right; border-radius: 10px; background-color: #666666bb; ">
                                <i class="fa-solid fa-ellipsis-vertical " style="color: #f4f4f4; font-size: 20px;"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" id="${dataset[i]._id}-edit" type="button" onclick="pageMove('edit','${dataset[i]._id}')">Edit</button></li>
                                <li><button class="dropdown-item" id="${dataset[i]._id}-delete" type="button" onclick="showPopupDelete('${dataset[i].dataset_name}', '${dataset[i]._id}')"
                                >Delete</button></li>
                            </ul>
                        </div>
                        <img id="${dataset[i]._id}-image" src="${imagesource.src_img}"
                            class="card-img-top" alt="..."  onclick="pageMove('imagegallery','${dataset[i]._id}','${dataset[i].source_list_sto}');">
                        <div class="card-body" onclick="pageMove('imagegallery','${dataset[i]._id}','${dataset[i].source_list_sto}');">
                            <div class="gallery-title" id="${dataset[i]._id}-name" style="">
                                <span class="" style="color: #666666;">Dataset: </span>
                                ${dataset[i].dataset_name}</div>
                            <span class="" style="color: #666666;">Created: </span>
                            <span class="" id="${dataset[i]._id}-updateDate">` + formattedDate + `</span>
                            <span style="color: #666666;">Contains: </span>
                            <span>` + imagesource.img_count + ` Files</span>
                            <div>` + kypttemps + `</div>
                        </div>
                    </div>
                </div>
            `
        }

        cardContainer.innerHTML += cardText;
    }

    function hexToRGBA(hex, alpha = 1) {
        const r = parseInt(hex.slice(1, 3), 16);
        const g = parseInt(hex.slice(3, 5), 16);
        const b = parseInt(hex.slice(5, 7), 16);

        return `rgba(${r}, ${g}, ${b}, ${alpha})`;
    };

    function colorWithTransparency(hex, transparency) {
        return hexToRGBA(hex, transparency);
    };



    function loadDIimage(storageID) {
        var data = "";
        $.ajax({
            type: 'get', //데이터 전송 타입,
            url: _WEBSERVER_ROOT_URL + 'MediaList?StorageID=' + storageID +
                '&PageNum=1&CountOfPage=20&MediaState=&SortType=1&MediaType=&MediaTitle=&AddDateStart=&AddDateEnd=&ExceptDelete=', //데이터를 주고받을 파일 주소 입력,
            //data: datasetInfo,
            //보내는 데이터,
            async: false, //값을 리턴시 해당코드를 추가하여 동기로 변경
            dataType: 'JSON', //문자형식으로 받기 , 
            success: function (result) {
                data = result;
            },
            error: function () {
                alert("error");
            }
        });
        return data;
    }

    /*이미지 src*/
    function getImagesrc(storageID, importtype, imagepath) {
        var src = "";
        switch (importtype) {
            case 1: //D/I
                var result = loadDIimage(storageID);
                src = {src_img: _WEBSERVER_DI_URL + imagepath + result.mediainfo[0].mediapath + result.mediainfo[0].title, img_count:result.totalcount} 
                return src;
                break;
            case 2: //Object storage
                break;
            case 3: //Google Drive
                break
            default:
                break;
        }

    }

    function showPopupDelete(datasetName, datasetID) {

        document.getElementById("delete-popup").innerHTML = `
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        Delete that dataset &lt;<span style="font-size: 600; color: #0D6EFD;" id="popup-datasetName">${datasetName}</span>&gt;?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="deleteDataset('${datasetID}')">Delete</button>
                    </div>
                </div>
            </div>
        `

        $('#delete-popup').modal('toggle');
    }

    /*
    뷰어세팅(데이터셋 정보입력)화면으로 이동하면서,
    파라미터로 데이터셋아이디를 넘겨준다.
    */
    function editDataset(datasetID) {

    }

    function closePopup() {
        $('#delete-popup').modal('toggle');
    }
</script>

</html>