<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/faviconLV.ico">
</head>

<body>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/gallerylist" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="img/Label_Viewer_Logo.svg" style="height: 26px; margin: 15px;">
        </a>
        <!--
            menu
        &nbsp&nbsp&nbsp
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/gallerylist" class="nav-link px-2 text-primary">Dataset List</a></li>
            <li><a href="/selecttemplate" class="nav-link px-2 text-primary">Templates</a></li>
        </ul>
        -->

        <!--
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
        -->
    </div>
</body>

</html>