<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <script language="javascript" type="text/javascript" src="js/jquery-3.6.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script language="javascript" type="text/javascript" src="js/fontawesome.all.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.nanogallery2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="css/nanogallery2.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script language="javascript" type="text/javascript" src="js/globalconst.js"></script>

</head>
<style>
    .card {
        height: 280px;
    }

    .btn-check:checked+.btn {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        /* 스크롤바의 너비 */
    }

    ::-webkit-scrollbar-thumb {
        height: 30%;
        /* 스크롤바의 길이 */
        background: #217af4;
        /* 스크롤바의 색상 */

        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);
        /*스크롤바 뒷 배경 색상*/
    }
</style>
<!--

-->

<body>
    <div class="d-flex">
        <div class="col">
            <%- include('./header') %>
        </div>
        <div class="col align-self-center d-flex justify-content-end" style="float: right; margin-right: 2em;">
            <i class="fa-solid fa-arrow-left" style="font-size: 36px; cursor: pointer;"
                onclick="pageMove('gallerylist')"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-2">
                <div style="color: #666666;">Gallery Name</div>
                <div id="galleryname">Gallery Name</div>
            </div>
            <div class="col-8">
                <div style="color: #666666;">Label Show</div>
                <div id="divlabeltemplate">
                    <input type="checkbox" class="btn-check" id="btn-none" name="none" autocomplete="off"
                        onclick="clickLabel(this.name); draw();">
                    <label class="btn" for="btn-none" style="background-color: #f4f4f4;">none</label>

                    <input type="checkbox" class="btn-check" name="tag-label" id="B-box-soccer"
                        onclick="clickLabel(this.name);" autocomplete="off">
                    <label class="btn tag-label" for="B-box-soccer"
                        style="background-color: #FFB9B9;">B-box-soccer</label>

                    <input type="checkbox" class="btn-check " name="tag-label" id="B-box-s"
                        onclick="clickLabel(this.name);" autocomplete="off">
                    <label class="btn tag-label" for="B-box-s" style="background-color: #D9D9D9;">B-box-s</label>
                </div>
            </div>
            <div class="col-2 d-flex align-items-end justify-content-end">
                <button type="button" class="btn btn-outline-secondary" id="btn-edit-gallery"
                    onclick="pageMove('selecttemplate')">Set Template</button>
            </div>
        </div>

        <div style="overflow-y: scroll; height:75vh;">
            <div ID="imageGallery"></div>
        </div>

        <div class="d-flex justify-content-between my-2" style="background-color: #fff;">
            <div class="col align-self-center">
                <span style="color: #666666;">Total</span>
                <span id="totalcount"></span>
            </div>
            <div class="col d-flex align-items-end gap-2" style="justify-content: flex-end;">
                <button class="btn btn-outline-secondary" onclick="countPage('down');">
                    <i class="fa-solid fa-chevron-left align-self-center" style="font-size: 20px;"></i>
                </button>
                <div class="input-group align-self-center" style="width: 4em;">
                    <input type="number" class="form-control" id="page-count" value="1" aria-label="pageCount" min="1"
                        aria-describedby="basic-addon1" onchange="countPage(this.value);">
                </div>
                <div class="align-self-center">/</div>
                <div class="align-self-center" id="page-total"></div>
                <button class="btn btn-outline-secondary" onclick="countPage('up');">
                    <i class="fa-solid fa-chevron-right align-self-center" style="font-size: 20px;"></i>
                </button>
                <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>s
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    const urlParams = new URLSearchParams(window.location.search);
    const sto_id = urlParams.get('source_list_sto');
    const dataset_id = urlParams.get('dataset_id');
    var linecolor = '';

    if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            toastBootstrap.show()
        })
    }

    function pageMove(page) {
        var params;
        var url = _PAGE_URL;
        switch (page) {
            case "selecttemplate":
                params = "selecttemplate?source_list_sto=" + sto_id + "&dataset_id=" + dataset_id;
                break;
            case "gallerylist":
                params = "gallerylist"
                break;
        }
        window.location.href = url + params;

    }


    $(document).ready(function () {
        console.log(sto_id);
        if (sto_id) {
            getDatasetInfo(1);
        } else {
            getImage(1, '');
        }
    });

    function draw() {

        var canvas = document.getElementById('canvas1');
        var ctx = canvas.getContext('2d');
        ctx.beginPath();
        ctx.rect(100, 100, 200, 100);
        ctx.fillStyle = 'yellow';
        ctx.fill();
        ctx.lineWidth = 5;
        ctx.strokeStyle = 'black';
        ctx.stroke();
    }

    var img_folder = '';
    var label_folder = '';


    async function getDatasetInfo(page) {
        var apiUrl = _PAGE_URL + 'apidataset/getdataset?datasetId=' + dataset_id;
        try {
            const response = await fetch(apiUrl);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            console.log('getdatasetinfo')
            const datasetInfo = await response.json();
            console.log(datasetInfo);
            const divgalleryname = document.getElementById('galleryname');
            divgalleryname.innerHTML = '';
            divgalleryname.innerHTML = datasetInfo.dataset_name;
            img_folder = datasetInfo.image_location;
            label_folder = datasetInfo.label_location;
            if (datasetInfo.kypt_id) {
                getKeyTemplate(datasetInfo.kypt_id);
            } else {
                const divlabeltemp = document.getElementById('divlabeltemplate');
                divlabeltemp.innerHTML = '';
                divlabeltemp.innerHTML = 'Add Template';
            }

            getImage(1, sto_id, img_folder, label_folder);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }


    async function getKeyTemplate(kypt_id) {
        var apiUrl = _PAGE_URL + 'apidataset/getkeyp?keypointId=' + kypt_id;
        try {
            const response = await fetch(apiUrl);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            console.log('getGetKeypointInfo');
            const kyptTempInfo = await response.json();
            console.log(kyptTempInfo);
            const bgcolor = colorWithTransparency(kyptTempInfo.kypt_json.categories[0].color, 0.4)
            const divlabeltemp = document.getElementById('divlabeltemplate');
            divlabeltemp.innerHTML = '';
            divlabeltemp.innerHTML = '<input type="checkbox" class="btn-check" id="btn-none" name="' + kyptTempInfo.kypt_name +
                '" autocomplete="off"onclick="clickLabel(this.name); draw();"><label class="btn" for="btn-none" style="background-color: ' + bgcolor +
                ';">' + kyptTempInfo.kypt_name + '</label>';
            linecolor = kyptTempInfo.kypt_json.categories[0].color;
            console.log(linecolor);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    function hexToRGBA(hex, alpha = 1) {
        const r = parseInt(hex.slice(1, 3), 16);
        const g = parseInt(hex.slice(3, 5), 16);
        const b = parseInt(hex.slice(5, 7), 16);

        return `rgba(${r}, ${g}, ${b}, ${alpha})`;
    }

    function colorWithTransparency(hex, transparency) {
        return hexToRGBA(hex, transparency);
    }



    function getImage(pageCount, stoid, img_folder, label_folder) {
        console.log(pageCount);
        var env_path = 'D:\\MgnSData\\Datas\\';

        $.ajax({
            type: 'get', //데이터 전송 타입,
            url: _WEBSERVER_ROOT_URL +
                'MediaList?StorageID=' + stoid + '&PageNum=' + pageCount +
                '&CountOfPage=50&MediaState=&SortType=1&MediaType=&MediaTitle=&AddDateStart=&AddDateEnd=&ExceptDelete=',
            //data: datasetInfo,
            //보내는 데이터,
            dataType: 'JSON', //문자형식으로 받기 , 
            success: function (result) {
                console.log(result);
                imagePath(result, img_folder, label_folder);
                document.getElementById("totalcount").innerText = result.totalcount.toLocaleString(
                    'ko-KR');
                document.getElementById("page-total").innerText = parseInt(result.totalcount / 50) + 1;
            },
            error: function () {
                alert("error");
            }
        })
    }

    /* misun
    D/I의 Image path를 만들어준다. 
    result information: 
    api : http://49.50.160.122:9070/OpenAPI/Report/DetectionImageView/All
    errorinfo

    Apipath: D:\\MgnSData\\Datas\\2022\\7\\22\\9\\24863\\Thumb_24863_0_0x80000000_0.jpg
    Imagepath: http://49.50.160.122:3000/errorimages/2022/7/22/9/24863/24863_0_0x80000000_0.jpg
    */
    function imagePath(result, img_folder, label_folder) {
        console.log('imagePath');
        console.log(img_folder);

        var data = result.mediainfo;
        console.log(data)

        //url 매핑을 위해 url을 만들어준다.

        var originParam, excludeParam, jsonParam;
        var pathArr = [];
        var jsonArr = [];

        for (i = 0; i < data.length - 1; i++) {
            //originParam = result.errorinfo[i].thumbnailpath;
            originParam = img_folder + data[i].mediapath + data[i].title;
            if (originParam != "") {

                excludeParam = 'D:\\MgnSData\\Datas\\';
                originParam = originParam.replace(excludeParam, img_folder);
                originParam = originParam.replace("Thumb_", "");


                originParam = originParam.replace(/\\/ig, "/");
                //originParam = originParam.replace(/\\/ig, "/");
                jsonParam = originParam.replace(/JPG|\.jpg/g, (match) => {
                    if (match === "JPG") {
                        return "JSON";
                    } else if (match === ".jpg") {
                        return ".json";
                    }
                });


                object = {
                    src: originParam,
                    srct: originParam,
                    title: data[i].title
                }
                pathArr.push(object);
                jsonArr.push(jsonParam);
            }
        }

        makeGallery(pathArr);
        transfUrlJson(jsonArr);
    }

    /*갤러리를 보여준다*/



    function makeGallery(pathArr, jsonArr) {
        var myLightboxTool = function (customElementName, $customIcon, item) {
            alert('Media title :' + item.title);
        }

        //$('#imageGallery').nanogallery2('refresh');
        $('#imageGallery').nanogallery2('destroy');
        $("#imageGallery").nanogallery2({
            // ### gallery settings ###
            thumbnailHeight: 300,
            thumbnailWidth: "auto",
            itemsBaseURL: 'http://49.50.160.122:3000/',
            thumbnailBorderVertical: 0,
            thumbnailBorderHorizontal: 0,
            colorScheme: {
                thumbnail: {
                    background: "rgba(255,255,255,100)"
                }
            },
            thumbnailLabel: {
                position: "overImageOnBottom",
                display: true,
                displayDescription: true,
                hideIcons: false,
            },
            thumbnailAlignment: "center",
            galleryMaxItems: 50,
            lazyLoad: false, // Disable lazy loading
            pagination: false, // Disable pagination
            thumbnailGutterWidth: 5,
            thumbnailGutterHeight: 5,
            thumbnailOpenImage: true,
            viewerToolbar: {
                standard: 'minimizeButton, label, shareButton, fullscreenButton',
                minimized: 'minimizeButton, label, fullscreenButton, downloadButton, infoButton'
            },
            viewerTools: {
                topLeft: 'label',
                topRight: 'custom1,playPauseButton, zoomButton, fullscreenButton, viewerShoppingcart, closeButton '
            },
            icons: {
                viewerCustomTool1: '<i class="fa-regular fa-copy" id="btn-copy"  data-clipboard-target="#test1"></i>'
            },
            fnImgToolbarCustClick: myToolbarCustClick,
            // ### gallery content ###
            items: pathArr
        });
        console.log('makegallery')
    }




    // Click event on custom lightbox toolbar element
    function myToolbarCustClick(customElementName, $customIcon, item) {
        // Display the title of the current displayed image
        if (customElementName == 'custom1') {
            //alert('Image path: ' + item.src);
            var tempElement = document.createElement("textarea");
            document.body.appendChild(tempElement);
            tempElement.value = item.src;
            tempElement.select();
            document.execCommand('copy');
            document.body.removeChild(tempElement);
        }
    }


    /*
    템플릿을 선택하지 않는 경우에 대한 행동 처리
    :템플릿을 선택하면 none 선택 풀리고, none선택하면 템플릿 선택 못함

    라벨 리스트 : name="tag-label"
    */
    /*
     function allLabel(buttonAll) {
         if (buttonAll.checked == true) {
             $("input:checkbox[name='tag-label']").prop("checked", true);
         } else {
             $("input:checkbox[name='tag-label']").prop("disabled", false);
         }
     }*/
    function clickLabel(buttonName) {
        if (buttonName == "none") {
            $("input:checkbox[name='tag-label']").prop("checked", false);
        }
        if (buttonName == "tag-label") {
            $("input:checkbox[name='none']").prop("checked", false);
        }
    }


    /*
    페이지 카운트를 높이고 줄인다.
    pagecount : id = page-count
    */
    function countPage(attr) {
        var pageCnt = document.getElementById("page-count").value;
        var pageMax = Number(document.getElementById("page-total").innerText);

        if (attr == "up") {
            if (pageCnt >= pageMax) {
                return;
            }
            document.getElementById("page-count").value = Number(pageCnt) + 1;

            getDatasetInfo(Number(pageCnt) + 1);

        }
        if (attr == "down") {
            if (pageCnt <= 1) {
                return;
            }

            document.getElementById("page-count").value = Number(pageCnt) - 1;

            getDatasetInfo(Number(pageCnt) - 1);

        }
    }






    async function fetchAndCombineJson(urlList) {
        const jsonPromises = urlList.map(async (url) => {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        });

        try {
            const combinedJsonArray = await Promise.all(jsonPromises);
            combinedJsonTemplate(combinedJsonArray);
        } catch (error) {
            console.error('Error fetching JSON data:', error);
        }
    }

    function transfUrlJson(jsonArr) {
        var jsonlistgalery = [];
        jsonArr.forEach((json) => {
            var jsonUrlLoc = _WEBSERVER_DI_URL + json;
            jsonlistgalery.push(jsonUrlLoc);
        });
        fetchAndCombineJson(jsonlistgalery);
    }


    function waitForCanvas(i) {
        return new Promise((resolve) => {
            setTimeout(() => {
                console.log('Function wait 1s is finished');
                resolve();
            }, 300);
        });
    }


    const listformatedkeys = [];


    function combinedJsonTemplate(JSONlist) {
        for (let i = 0; i < JSONlist.length; i++) { //JSONlist.length
            const key1 = 'labelingInfo';
            const key1index = '0';
            const key2 = 'pose';
            const key3 = 'location';
            const schemaloc = '.labelingInfo[0].pose.location';
            const locationkey = JSONlist[i][key1][key1index][key2][key3];
            const entries = Object.entries(locationkey);
            const listofpoints = [];
            for (let j = 0; j < entries.length; j++) {
                const [key, value] = entries[j];
                const multipliedValue = {
                    x: value.x * 0.1555,
                    y: value.y * 0.14,
                    key: key
                };
                listofpoints.push(multipliedValue);
            }
            var formatedkey = {
                "keypoints": listofpoints
            };
            listformatedkeys.push(formatedkey);
        }
    }

    /*
        x: value.x * 0.1555,
                        y: value.y * 0.14,
    */


    const lineslink = {
        "lines": [
            [
                4,
                12
            ],
            [
                15,
                10
            ],
            [
                0,
                5
            ],
            [
                2,
                16
            ],
            [
                15,
                9
            ],
            [
                10,
                3
            ],
            [
                3,
                7
            ],
            [
                3,
                14
            ],
            [
                14,
                12
            ],
            [
                3,
                5
            ],
            [
                3,
                17
            ],
            [
                17,
                13
            ],
            [
                0,
                11
            ],
            [
                1,
                8
            ],
            [
                8,
                7
            ],
            [
                13,
                6
            ]
        ]
    }

    async function drawpointsindex(idx) {
        await waitForCanvas();
        const index = idx - 1;
        const canvasindex = "canvas" + (index + 1);
        const zoomcanvindex = "canvas" + (index + 1);

        const canvas = document.getElementById(canvasindex);
        const ctx = canvas.getContext('2d');
        const zoomcanv = document.getElementById(zoomcanvindex)
        const zctx = zoomcanv.getContext('2d');


        // Draw keypoints
        listformatedkeys[index].keypoints.forEach(point => {



            ctx.beginPath();
            ctx.arc(point.x, point.y, 2, 0, 2 * Math.PI);
            ctx.fillStyle = linecolor;
            ctx.fill();
            ctx.strokeStyle = linecolor;
            ctx.lineWidth = 0.5;
            ctx.stroke();
            ctx.closePath();

            zctx.beginPath();
            zctx.arc(point.x, point.y, 1, 0, 2 * Math.PI);
            zctx.fillStyle = 'blue';
            zctx.fill();
            zctx.closePath();

        });

        // Draw lines
        lineslink.lines.forEach(line => {
            const from = listformatedkeys[index].keypoints[line[0]];
            const to = listformatedkeys[index].keypoints[line[1]];

            ctx.beginPath();
            ctx.moveTo(from.x, from.y);
            ctx.lineTo(to.x, to.y);
            ctx.strokeStyle = linecolor;
            ctx.lineWidth = 1;
            ctx.stroke();
            ctx.closePath();
        });


    }

    async function drawzoomcanv(index) {
        await waitForCanvas();
        console.log('ZOOM draw points idx')
        const zindex = index - 1;
        const zoomcanvindex = "zoomcanv" + (index + 1);

        const zoomcanv = document.getElementById(zoomcanvindex)
        const zctx = zoomcanv.getContext('2d');


        // Draw keypoints
        listformatedkeys[index].keypoints.forEach(point => {

            zctx.beginPath();
            zctx.arc(point.x, point.y, 1, 0, 2 * Math.PI);
            zctx.fillStyle = 'blue';
            zctx.fill();
            zctx.closePath();


            // Draw the text with the key value over the point
            zctx.font = '4px Arial';
            zctx.fillStyle = 'yellow';
            zctx.fillText(point.key + 1, point.x, point.y + 4);

        });

        // Draw lines
        lineslink.lines.forEach(line => {
            const from = listformatedkeys[index].keypoints[line[0] - 1];
            const to = listformatedkeys[index].keypoints[line[1] - 1];

            zctx.beginPath();
            zctx.moveTo(from.x, from.y);
            zctx.lineTo(to.x, to.y);
            zctx.strokeStyle = "red";
            zctx.lineWidth = 0.5;
            zctx.stroke();
            zctx.closePath();
        });


    }

    //---------------------Draw Template---------------------------------


    const drawingData = {
        "keypoints": [{
            "x": 219,
            "y": 160
        }, {
            "x": 243,
            "y": 146
        }, {
            "x": 264,
            "y": 162
        }, {
            "x": 284,
            "y": 145
        }, {
            "x": 306,
            "y": 162
        }, {
            "x": 265,
            "y": 223
        }, {
            "x": 326,
            "y": 226
        }, {
            "x": 205,
            "y": 229
        }, {
            "x": 245,
            "y": 375
        }, {
            "x": 297,
            "y": 375
        }, {
            "x": 245,
            "y": 439
        }, {
            "x": 301,
            "y": 436
        }, {
            "x": 241,
            "y": 496
        }, {
            "x": 303,
            "y": 497
        }, {
            "x": 349,
            "y": 301
        }, {
            "x": 184,
            "y": 301
        }, {
            "x": 164,
            "y": 368
        }, {
            "x": 381,
            "y": 372
        }],
        "lines": [{
            "from": {
                "x": 219,
                "y": 160
            },
            "to": {
                "x": 243,
                "y": 146
            }
        }, {
            "from": {
                "x": 243,
                "y": 146
            },
            "to": {
                "x": 264,
                "y": 162
            }
        }, {
            "from": {
                "x": 264,
                "y": 162
            },
            "to": {
                "x": 284,
                "y": 145
            }
        }, {
            "from": {
                "x": 284,
                "y": 145
            },
            "to": {
                "x": 306,
                "y": 162
            }
        }, {
            "from": {
                "x": 264,
                "y": 162
            },
            "to": {
                "x": 265,
                "y": 223
            }
        }, {
            "from": {
                "x": 265,
                "y": 223
            },
            "to": {
                "x": 326,
                "y": 226
            }
        }, {
            "from": {
                "x": 265,
                "y": 223
            },
            "to": {
                "x": 205,
                "y": 229
            }
        }, {
            "from": {
                "x": 265,
                "y": 223
            },
            "to": {
                "x": 245,
                "y": 375
            }
        }, {
            "from": {
                "x": 265,
                "y": 223
            },
            "to": {
                "x": 297,
                "y": 375
            }
        }, {
            "from": {
                "x": 297,
                "y": 375
            },
            "to": {
                "x": 301,
                "y": 436
            }
        }, {
            "from": {
                "x": 245,
                "y": 375
            },
            "to": {
                "x": 245,
                "y": 439
            }
        }, {
            "from": {
                "x": 245,
                "y": 439
            },
            "to": {
                "x": 241,
                "y": 496
            }
        }, {
            "from": {
                "x": 301,
                "y": 436
            },
            "to": {
                "x": 303,
                "y": 497
            }
        }, {
            "from": {
                "x": 326,
                "y": 226
            },
            "to": {
                "x": 349,
                "y": 301
            }
        }, {
            "from": {
                "x": 349,
                "y": 301
            },
            "to": {
                "x": 381,
                "y": 372
            }
        }, {
            "from": {
                "x": 205,
                "y": 229
            },
            "to": {
                "x": 184,
                "y": 301
            }
        }, {
            "from": {
                "x": 184,
                "y": 301
            },
            "to": {
                "x": 164,
                "y": 368
            }
        }]
    };

    function drawCanvas(data, i) {
        console.log(i);
        const canvasindex = "canvas" + i;
        const canvas = document.getElementById(canvasindex);
        const ctx = canvas.getContext('2d');

        // Draw keypoints
        data.keypoints.forEach(point => {
            ctx.beginPath();
            ctx.arc(point.x, point.y, 5, 0, 2 * Math.PI);
            ctx.fillStyle = 'blue';
            ctx.fill();
            ctx.closePath();

            // Draw the text with the key value over the point
            ctx.font = '12px Arial';
            ctx.fillStyle = 'black';
            ctx.fillText('TEXTO', point.x + 8, point.y + 4);
        });

        // Draw lines
        data.lines.forEach(line => {
            ctx.beginPath();
            ctx.moveTo(line.from.x, line.from.y);
            ctx.lineTo(line.to.x, line.to.y);
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 2;
            ctx.stroke();
            ctx.closePath();
        });
    }
</script>

</html>