<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <script language="javascript" type="text/javascript" src="js/jquery-3.6.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script language="javascript" type="text/javascript" src="js/fontawesome.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<style>
    .img-thumbnail:hover {
        background: #EBECF1;
    }

    .btn-check:checked+.btn {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .type-template {
        cursor: pointer;
    }
</style>
<!--

-->

<body>
    <%- include('./header') %>
    <div class="container my-4">
        <div class="row" id="gallerylist">
            <div class="col">
                <h4>Select Template</h4>
                <div class="mb-4" style="color: #666666;">Select a label template.</div>

                <h5>Label Template</h5>
                <div class="row mb-4 " id="gallerylist">
                    <div class="col">
                        <div class="card" style="height: 280px;" id="type-api">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary" onclick="pageMove('createtemplate')">+
                                    add</button>

                                <input type="checkbox" class="btn-check" id="btn-none" autocomplete="off"
                                    onclick="noneLabel(this);">
                                <label class="btn" for="btn-none" style="background-color: #f4f4f4;">none</label>

                                <input type="checkbox" class="btn-check" name="tag-label" id="B-box-soccer"
                                    autocomplete="off">
                                <label class="btn tag-label" for="B-box-soccer"
                                    style="background-color: #FFB9B9;">B-box-soccer</label>

                                <input type="checkbox" class="btn-check " name="tag-label" id="B-box-s"
                                    autocomplete="off">
                                <label class="btn tag-label" for="B-box-s"
                                    style="background-color: #D9D9D9;">B-box-s</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="height: 280px;" id="type-api">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link type-template active" aria-current="page" id="tab-boundingbox"
                                        onclick="changeTemplate(this.id);">Bounding box Template</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link type-template" id="tab-keypoint"
                                        onclick="changeTemplate(this.id);">Key Point Template</a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <div class="tab-page " id="page-boundingbox">
                                    <div class="d-flex">
                                        <div class="flex-fill">
                                            <div class="bbox-name" style="color: #666666;">Template Name</div>
                                            <div class="mb-2">B-box-soccer</div>

                                            <div class="" style="color: #666666;">Template Type</div>
                                            <div class="mb-2">Bounding Box</div>

                                            <div class="" style="color: #666666;">Draw type</div>
                                            <div id="bbox-drawtype" class="mb-2">-</div>

                                            <button type="button" class="btn btn-outline-primary">Edit Template</button>
                                        </div>
                                        <div class="border border-1 rounded" style="width: 240px;"></div>
                                    </div>
                                </div>
                                <div class="tab-page" id="page-keypoint" style="display: none;">
                                    <div class="d-flex">
                                        <div class="flex-fill">
                                            <div class="keypoint-name" style="color: #666666;">Template Name</div>
                                            <div class="mb-2">B-box-soccer</div>

                                            <div class="" style="color: #666666;">Template Type</div>
                                            <div class="mb-2">Keypoint</div>

                                            <div class="" style="color: #666666;">Key Point</div>
                                            <div id="keypoint-count" class="mb-2">-</div>
                                            <button type="button" class="btn btn-outline-primary">Edit Template</button>
                                        </div>
                                        <div class="border border-1 rounded" style="width: 240px;"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <h5>Preview</h5>
                <div class="" style="color: #666666;">Randomly select an image and apply the selected label.</div>

                <div class="row mb-4" id="gallerylist">
                    <div class="col">
                        <div class="card w-100" style="width: 18rem;" id="type-api">
                            <div class="card-body d-flex gap-2">
                                <div class="w-100 border border-1" id="image-plus" style="height: 360px;">
                                    <img class="img-thumbnail"
                                        src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                        alt="">
                                </div>
                                <div class="w-100  row row-cols-3">
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-1"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-2"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-3"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-4"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-5"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-6"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-7"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-8"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                    <div class="col thumbnail align-self-center" style="object-fit: contain;">
                                        <img class="img-thumbnail" id="image-9"
                                            src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-2%2F175305_629_CH2.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-outline-primary"
                        onclick="pageMove('addfiles')">Back</button>
                    <button type="button" class="btn btn-lg btn-primary" onclick="pageMove('gallerylist')">Next</button>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    function pageMove(page) {
        var params;
        var url = "http://127.0.0.1:7000/";
        switch (page) {
            case "addfiles":
                params = "addfiles"
                break;
            case "createtemplate":
                params = "createtemplate"
                break;
            case "gallerylist":
                params = "gallerylist"
                break;
        }
        window.location.href = url + params;

    }

    /*
    템플릿을 선택하지 않는 경우에 대한 행동 처리
    :템플릿을 선택하면 none 선택 풀리고, none선택하면 템플릿 선택 못함

    라벨 리스트 : name="tag-label"
    */
    function noneLabel(buttonNone) {
        if (buttonNone.checked == true) {
            $("input:checkbox[name='tag-label']").prop("checked", false);
            $("input:checkbox[name='tag-label']").prop("disabled", true);
        } else {
            $("input:checkbox[name='tag-label']").prop("disabled", false);
        }
    }

    /*
    템플릿 타입 탭 선택에 따른 행동 처리
    tab ID : 선택한 탭의 아이디
    */
    function changeTemplate(tabID) {
        $('.type-template').removeClass(' active');
        $(`#${tabID}`).addClass(' active');
        
        if (tabID == "tab-boundingbox") {
            $("#page-boundingbox").show();
            $("#page-keypoint").hide();
        }
        if (tabID == "tab-keypoint") {
            $("#page-keypoint").show();
            $("#page-boundingbox").hide();

        }
    }
</script>

</html>