@font-face {
    font-family: Pretendard-Regular;
    src: url('../fonts/Pretendard-Regular.otf');
}

@font-face {
    font-family: Pretendard-Medium;
    src: url('../fonts/Pretendard-Medium.otf');
}

@font-face {
    font-family: Pretendard-Bold;
    src: url('../fonts/Pretendard-Bold.otf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Pretendard-Regular;
}

body,
html {
    width: 100%;
    font-family: Pretendard-Regular;
}